# Copy this file and rename it `env`
# Do NOT ever include your *real* env in version control

MYSQL_DATABASE=bigred0100
MYSQL_HOST=bigred0100.cvqwtvgchz8d.us-east-1.rds.amazonaws.com
MYSQL_USER=admin
MYSQL_PASSWORD=bigred0100
